<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="slider-container" item-display-d="4" item-display-t="3" item-display-m="1">
        <div class="slider-width">
            <div class="contenedor">
                <div class="tarjeta">
                    <div class="logo">
                        <img src="assets/img/bbva.png" alt="logo">
                    </div>
                    <img class="chip" src="assets/img/chip-tarjeta.png">
                    <div class="numero">
                        <p>1***  ****  ****  ****</p>
                    </div>
                    <div class="footer">
                        <div>
                            <div class="fechas">
                                <p>desde:01/01</p>
                                <p>hasta:01/01</p>
                            </div>
                            <div class="titular">
                                <p class="titular">facuuuuu</p>
                            </div> 
                        </div>
                        <div class="visa">
                            <img src="assets/img/visa.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="contenedor">
                <div class="tarjeta">
                    <div class="logo">
                        <img src="assets/img/bbva.png" alt="logo">
                    </div>
                    <img class="chip" src="assets/img/chip-tarjeta.png">
                    <div class="numero">
                        <p>****  ****  ****  ****</p>
                    </div>
                    <div class="footer">
                        <div>
                            <div class="fechas">
                                <p>desde:01/01</p>
                                <p>hasta:01/01</p>
                            </div>
                            <div class="titular">
                                <p class="titular">facuuuuu</p>
                            </div> 
                        </div>
                        <div class="visa">
                            <img src="assets/img/visa.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="contenedor">
                <div class="tarjeta">
                    <div class="logo">
                        <img src="assets/img/bbva.png" alt="logo">
                    </div>
                    <img class="chip" src="assets/img/chip-tarjeta.png">
                    <div class="numero">
                        <p>****  ****  ****  ****</p>
                    </div>
                    <div class="footer">
                        <div>
                            <div class="fechas">
                                <p>desde:01/01</p>
                                <p>hasta:01/01</p>
                            </div>
                            <div class="titular">
                                <p class="titular">facuuuuu</p>
                            </div> 
                        </div>
                        <div class="visa">
                            <img src="assets/img/visa.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="contenedor">
                <div class="tarjeta">
                    <div class="logo">
                        <img src="assets/img/bbva.png" alt="logo">
                    </div>
                    <img class="chip" src="assets/img/chip-tarjeta.png">
                    <div class="numero">
                        <p>****  ****  ****  ****</p>
                    </div>
                    <div class="footer">
                        <div>
                            <div class="fechas">
                                <p>desde:01/01</p>
                                <p>hasta:01/01</p>
                            </div>
                            <div class="titular">
                                <p class="titular">facuuuuu</p>
                            </div> 
                        </div>
                        <div class="visa">
                            <img src="assets/img/visa.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="contenedor">
                <div class="tarjeta">
                    <div class="logo">
                        <img src="assets/img/bbva.png" alt="logo">
                    </div>
                    <img class="chip" src="assets/img/chip-tarjeta.png">
                    <div class="numero">
                        <p>****  ****  ****  ****</p>
                    </div>
                    <div class="footer">
                        <div>
                            <div class="fechas">
                                <p>desde:01/01</p>
                                <p>hasta:01/01</p>
                            </div>
                            <div class="titular">
                                <p class="titular">facuuuuu</p>
                            </div> 
                        </div>
                        <div class="visa">
                            <img src="assets/img/visa.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="contenedor">
                <div class="tarjeta">
                    <div class="logo">
                        <img src="assets/img/bbva.png" alt="logo">
                    </div>
                    <img class="chip" src="assets/img/chip-tarjeta.png">
                    <div class="numero">
                        <p>****  ****  ****  ****</p>
                    </div>
                    <div class="footer">
                        <div>
                            <div class="fechas">
                                <p>desde:01/01</p>
                                <p>hasta:01/01</p>
                            </div>
                            <div class="titular">
                                <p class="titular">facuuuuu</p>
                            </div> 
                        </div>
                        <div class="visa">
                            <img src="assets/img/visa.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="contenedor">
                <div class="tarjeta">
                    <div class="logo">
                        <img src="assets/img/bbva.png" alt="logo">
                    </div>
                    <img class="chip" src="assets/img/chip-tarjeta.png">
                    <div class="numero">
                        <p>****  ****  ****  ****</p>
                    </div>
                    <div class="footer">
                        <div>
                            <div class="fechas">
                                <p>desde:01/01</p>
                                <p>hasta:01/01</p>
                            </div>
                            <div class="titular">
                                <p class="titular">facuuuuu</p>
                            </div> 
                        </div>
                        <div class="visa">
                            <img src="assets/img/visa.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="contenedor">
                <div class="tarjeta">
                    <div class="logo">
                        <img src="assets/img/bbva.png" alt="logo">
                    </div>
                    <img class="chip" src="assets/img/chip-tarjeta.png">
                    <div class="numero">
                        <p>****  ****  ****  ****</p>
                    </div>
                    <div class="footer">
                        <div>
                            <div class="fechas">
                                <p>desde:01/01</p>
                                <p>hasta:01/01</p>
                            </div>
                            <div class="titular">
                                <p class="titular">facuuuuu</p>
                            </div> 
                        </div>
                        <div class="visa">
                            <img src="assets/img/visa.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="contenedor">
                <div class="tarjeta">
                    <div class="logo">
                        <img src="assets/img/bbva.png" alt="logo">
                    </div>
                    <img class="chip" src="assets/img/chip-tarjeta.png">
                    <div class="numero">
                        <p>****  ****  ****  ****</p>
                    </div>
                    <div class="footer">
                        <div>
                            <div class="fechas">
                                <p>desde:01/01</p>
                                <p>hasta:01/01</p>
                            </div>
                            <div class="titular">
                                <p class="titular">facuuuuu</p>
                            </div> 
                        </div>
                        <div class="visa">
                            <img src="assets/img/visa.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="contenedor">
                <div class="tarjeta">
                    <div class="logo">
                        <img src="assets/img/bbva.png" alt="logo">
                    </div>
                    <img class="chip" src="assets/img/chip-tarjeta.png">
                    <div class="numero">
                        <p>****  ****  ****  ****</p>
                    </div>
                    <div class="footer">
                        <div>
                            <div class="fechas">
                                <p>desde:01/01</p>
                                <p>hasta:01/01</p>
                            </div>
                            <div class="titular">
                                <p class="titular">facuuuuu</p>
                            </div> 
                        </div>
                        <div class="visa">
                            <img src="assets/img/visa.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="contenedor">
                <div class="tarjeta">
                    <div class="logo">
                        <img src="assets/img/bbva.png" alt="logo">
                    </div>
                    <img class="chip" src="assets/img/chip-tarjeta.png">
                    <div class="numero">
                        <p>****  ****  ****  ****</p>
                    </div>
                    <div class="footer">
                        <div>
                            <div class="fechas">
                                <p>desde:01/01</p>
                                <p>hasta:01/01</p>
                            </div>
                            <div class="titular">
                                <p class="titular">facuuuuu</p>
                            </div> 
                        </div>
                        <div class="visa">
                            <img src="assets/img/visa.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn" (click)="prev()">Prev</button>
    <button type="button" class="btn" (click)="next()">Next</button>
</body>

</html>