<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="prueba.component.scss">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="body">
    <div class="wrapper">
      <button class="flecha" id="left" ></button>
      <div class="carousel">
        <div class="tarjeta">
            <div class="numero">
                <p>Número Tarjeta</p>
                <p>{{tarjeta?.numeroTarjeta}}</p>
            </div>
            <div class="footer">
                <div class="titular">
                    <p>Nombre Tarjeta</p>
                    <p >{{tarjeta?.titular}}</p>
                </div>

                <div class="expiracion">
                    <p>Expiracion</p>
                    <p>{{tarjeta?.fechaExpiracion}}</p>
                </div>
            </div>
        </div>
        <div class="tarjeta">
          <div class="numero">
              <p>Número Tarjeta</p>
              <p>{{tarjeta?.numeroTarjeta}}</p>
          </div>
          <div class="footer">
              <div class="titular">
                  <p>Nombre Tarjeta</p>
                  <p >{{tarjeta?.titular}}</p>
              </div>

              <div class="expiracion">
                  <p>Expiracion</p>
                  <p>{{tarjeta?.fechaExpiracion}}</p>
              </div>
          </div>
      </div>
      <div class="tarjeta">
        <div class="numero">
            <p>Número Tarjeta</p>
            <p>{{tarjeta?.numeroTarjeta}}</p>
        </div>
        <div class="footer">
            <div class="titular">
                <p>Nombre Tarjeta</p>
                <p >{{tarjeta?.titular}}</p>
            </div>

            <div class="expiracion">
                <p>Expiracion</p>
                <p>{{tarjeta?.fechaExpiracion}}</p>
            </div>
        </div>
    </div>
    <div class="tarjeta">
          <div class="numero">
              <p>Número Tarjeta</p>
              <p>{{tarjeta?.numeroTarjeta}}</p>
          </div>
          <div class="footer">
              <div class="titular">
                  <p>Nombre Tarjeta</p>
                  <p >{{tarjeta?.titular}}</p>
              </div>

              <div class="expiracion">
                  <p>Expiracion</p>
                  <p>{{tarjeta?.fechaExpiracion}}</p>
              </div>
          </div>
      </div>
      <div class="tarjeta">
        <div class="numero">
            <p>Número Tarjeta</p>
            <p>{{tarjeta?.numeroTarjeta}}</p>
        </div>
        <div class="footer">
            <div class="titular">
                <p>Nombre Tarjeta</p>
                <p >{{tarjeta?.titular}}</p>
            </div>

            <div class="expiracion">
                <p>Expiracion</p>
                <p>{{tarjeta?.fechaExpiracion}}</p>
            </div>
        </div>
    </div>
    <div class="tarjeta">
      <div class="numero">
          <p>Número Tarjeta</p>
          <p>{{tarjeta?.numeroTarjeta}}</p>
      </div>
      <div class="footer">
          <div class="titular">
              <p>Nombre Tarjeta</p>
              <p >{{tarjeta?.titular}}</p>
          </div>

          <div class="expiracion">
              <p>Expiracion</p>
              <p>{{tarjeta?.fechaExpiracion}}</p>
          </div>
      </div>
  </div>
    
        <!--img src="images/img-1.jpg" alt="img" draggable="false"-->
      </div>
      <button class="flecha" id="right" ></button>
    </div>


  </body>
</html>





