body {
    min-height: 100vh;
    max-width: 100%;
    padding: 0;
    margin: 0;

    .header{
        //background: rgb(77, 101, 133);
        background: #bddbfa linear-gradient(to bottom, #759abe 5%, #063564 100%);
        color: white;
        padding-top: 20px;
        .titulo{
            text-align: center;
            margin: 0;
            font-family: 'Calibri';
        }

        .navegacion{
            max-height: 58px;
            margin-top: 20px;
            background-color:#24303c;

            li{
                display: inline-block;
                text-align: center;    
                a{
                    text-decoration: none;
                    color: white;
                    padding: 20px;
                    display: block;
                    font-family: 'Calibri';

                }
                a:hover{
                    background: #528ecc;
                }
                .activebutton {

                    background: #bddbfa linear-gradient(to bottom, #7cbcfc 5%, #1772cc 100%);
                    color: #ffffff;
                    text-shadow: 0 1px 0 #528ecc;
                }
            }

            
        }
    }
    
}



