<!DOCTYPE html>
<html lang="en" class="body">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="body">
    <div class="header">
        <h1 class="titulo">TARJETAS DE CREDITO</h1>
        <nav class="navegacion">
            <li><a routerLink="">Inicio</a></li>
            <li><a routerLink="/create"  routerLinkActive="activebutton">Crear</a></li>
            <li><a routerLink="/tarjetas"  routerLinkActive="activebutton">Tarjetas</a></li>
        </nav>
    </div>
    <div class="notification" [hidden]="!altaNot">
        <p>¡Tarjeta creada exitosamente!</p>
        <button class="close-btn" (click)="mostrarAltaNot()">X</button>
    </div>
    <div class="notification" [hidden]="!modNot">
        <p>¡Tarjeta Actualizada exitosamente!</p>
        <button class="close-btn" (click)="mostrarModNot()">X</button>
    </div>
    <div class="bajaNotificacion" [hidden]="!bajaNot">
        <p>¡Tarjeta Eliminada exitosamente!</p>
        <button class="close-btn" (click)="mostrarBajaNot()">X</button>
    </div>
    <router-outlet></router-outlet>
</body>
</html>