<!DOCTYPE html>
<html lang="en" class="body">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="body">
    <div class="header">
        <h1 class="titulo">TARJETAS DE CREDITO</h1>
        <nav>
            <a class="button" routerLink="">Home</a>
            <a class="button" routerLink="/create"  routerLinkActive="activebutton">Create</a>
            <a class="button" routerLink="/tarjetas"  routerLinkActive="activebutton">Tarjetas</a>
            <a class="button" routerLink="/prueba"  routerLinkActive="activebutton">Lab</a>  
        </nav>

    </div>
    
    <!--app-tarjeta-credito></app-tarjeta-credito-->

    <router-outlet></router-outlet>
</body>
</html>