body {
    min-height: 100vh;
    max-width: 100%;
    padding: 0;
    margin: 0;

    .header{

        background-color: black;
        color: white;
        padding-top: 20px;
        .titulo{
            text-align: center;
            margin: 0;
        }

        .navegacion{
            margin-top: 20px;
            background-color: #666666;

            li{
                display: inline-block;
                text-align: center;    
                a{
                    text-decoration: none;
                    color: white;
                    padding: 20px;
                    display: block;
                }
                a:hover{
                    background: #528ecc;
                }
            }

            
        }
    }
    
}

.activebutton {
    box-shadow: inset 0 1px 0 0 #dcecfb;
    background: #bddbfa linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
    border: 1px solid #84bbf3;
    color: #ffffff;
    text-shadow: 0 1px 0 #528ecc;
}

