<!DOCTYPE html>
<html lang="en" class="body">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="body">
    <div class="header">
        <h1 class="titulo">TARJETAS DE CREDITO</h1>
        <nav class="navegacion">
            <li><a class="button2" routerLink="">Home</a></li>
            <li><a class="button2" routerLink="/create"  routerLinkActive="activebutton">Create</a></li>
            <li><a class="button2" routerLink="/tarjetas"  routerLinkActive="activebutton">Tarjetas</a></li>
            <li><a class="button2" routerLink="/prueba"  routerLinkActive="activebutton">Lab</a></li>
        </nav>

    </div>
    
    <!--app-tarjeta-credito></app-tarjeta-credito-->

    <router-outlet></router-outlet>
</body>
</html>