<html>
  <head>
    <title></title>
    <link rel="stylesheet">
  </head>
  <body>
    <div>
      <div class="contenedor">
        <div class="tarjeta">
          <div class="logo">
              <img src="assets/img/bbva.png" alt="logo">
          </div>
          <img class="chip" src="assets/img/chip-tarjeta.png">
          <div class="numero">
              <p>{{ form.get('numeroTarjeta').value.slice(0,4)}}    {{ form.get('numeroTarjeta').value.slice(4,8)}}
                    {{ form.get('numeroTarjeta').value.slice(8,12)}}    {{ form.get('numeroTarjeta').value.slice(12,16)}}</p>
          </div>
          <div class="footer">
            <div>
              <div class="fechas">
                  <p>desde:{{ form.get('mesIni').value }}/{{ form.get('anioIni').value }}</p>
                  <p>hasta:{{ form.get('mesExp').value }}/{{ form.get('anioExp').value }}</p>
              </div>
              <div class="titular">
                  <p class="titular">{{ form.get('titular').value }}</p>
              </div> 
            </div>
            <div *ngIf="form.get('numeroTarjeta').value[0]==4; else elseBlock1" class="visa">
              <img src="assets/img/visa.png">
          </div>
          <ng-template #elseBlock1>
            <div *ngIf="form.get('numeroTarjeta').value[0]==5; else elseBlock2" class="master">
              <img src="assets/img/mastercard-logo.png">
            </div>
            <ng-template #elseBlock2>
              <div *ngIf="form.get('numeroTarjeta').value[0]==3" class="AmericanExp">
                <img src="assets/img/American-Express.png">
              </div>
            </ng-template>
          </ng-template>
          </div>
        </div>
      </div>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <section class="formulario" >
            <h4>Formulario</h4>
            <input class="dato" formControlName="titular" type="text" placeholder="Titular">
            <input class="dato" formControlName="numeroTarjeta" type="text" placeholder="Numero de Tarjeta">
            <label>Fecha Inicio:</label>
            <div>
              <select class="fecha" formControlName="mesIni" placeholder="mes">
                <option value="01">Enero</option>
                <option value="02">Febrero</option>
                <option value="03">Marzo</option>
                <option value="04">Abril</option>
                <option value="05">Mayo</option>
                <option value="06">Junio</option>
                <option value="07">Julio</option>
                <option value="08">Agosto</option>
                <option value="09">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
              </select>
              <input class="fecha" formControlName="anioIni" type="text" placeholder="Anio">
            </div>
            <label>Fecha Expiracion:</label>
            <div>
              <select class="fecha" formControlName="mesExp" placeholder="mes">
                <option value="01">Enero</option>
                <option value="02">Febrero</option>
                <option value="03">Marzo</option>
                <option value="04">Abril</option>
                <option value="05">Mayo</option>
                <option value="06">Junio</option>
                <option value="07">Julio</option>
                <option value="08">Agosto</option>
                <option value="09">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
              </select>
              <input class="fecha" formControlName="anioExp" type="text" placeholder="Anio">
            </div>
            <input class="dato" formControlName="cvv" type="text" placeholder="cvv">
            <select class="dato" formControlName="categoria">
              <option disabled selected value="">Categoria</option>
              <option value=0>Clasica</option>
              <option value=1>Oro</option>
              <option value=2>Platino</option>
              <option value=3>Black</option>
            </select>
            <button class="boton" type="submit">Guardar</button>
          </section>
        </form>
    </div>
  </body>
</html>
