<html>
  <head>
    <title></title>
    <link rel="stylesheet">
  </head>
  <body>
    <div>
        <h3 class="titulo">EDITAR TARJETA</h3>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <section class="formulario" >
            <h4>Formulario</h4>
            <input class="dato" formControlName="titular" type="text" placeholder="Titular">
            <input class="dato" formControlName="numeroTarjeta" type="text" placeholder="Numero de Tarjeta">
            <label>Fecha Inicio:</label>
            <div>
              <select class="fecha" formControlName="mesExp" placeholder="mes">
                <option value="01">Enero</option>
                <option value="02">Febrero</option>
                <option value="03">Marzo</option>
                <option value="04">Abril</option>
                <option value="05">Mayo</option>
                <option value="06">Junio</option>
                <option value="07">Julio</option>
                <option value="08">Agosto</option>
                <option value="09">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
              </select>
              <input class="fecha" formControlName="anioExp" type="text" placeholder="Anio">
            </div>
            <label>Fecha Fin:</label>
            <div>
              <select class="fecha" formControlName="mesIni" placeholder="mes">
                <option value="01">Enero</option>
                <option value="02">Febrero</option>
                <option value="03">Marzo</option>
                <option value="04">Abril</option>
                <option value="05">Mayo</option>
                <option value="06">Junio</option>
                <option value="07">Julio</option>
                <option value="08">Agosto</option>
                <option value="09">Septiembre</option>
                <option value="10">Octubre</option>
                <option value="11">Noviembre</option>
                <option value="12">Diciembre</option>
              </select>
              <input class="fecha" formControlName="anioIni" type="text" placeholder="Anio">
            </div>
            <input class="dato" formControlName="cvv" type="text" placeholder="cvv">
            <button class="boton" type="submit">Guardar</button>
          </section>
        </form>
    </div>
  </body>
</html>
