.contenedor{
  width: 300px;
  height: 200px;
  margin-right: 50px;
  margin-left: 50px;
  margin: auto;
  margin-top: 50px;
  .tarjeta {
      position: relative;
      max-width: 100%;
      max-height: 100%;
      padding: 7px;
      display: flex;
      background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
      border-radius: 15px;
      flex-direction: column;
      color: white;
      font-size: 9px;
      text-transform: uppercase;
      
      .logo{
          text-align: left;
          min-height: 40px;
          margin-top: 10px;
          margin-left: 10px;
          img{
              width: 100%;
              height: 100%;
              object-fit: cover;
              max-width: 70px;
          }
      }

      .chip{
          width: 100%;
          height: 100%;
          max-width: 30px;
          max-height: 30px;
          margin-top: 5px;
          margin-left: 15px;
      }

      .numero{
          color: white;
          font-size: 15px;
          max-height: 32px;
      }

      .footer{
          max-width: 100%;
          max-height: 100%;
          display: flex;
          justify-content: space-between;
          .visa{
              text-align: right;
              min-height: 40px;
              margin-right: 10px;
              img{
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  max-width: 70px;
              }
          }
          .fechas{
              display: flex;
              max-height: 20px;
              p{
                  margin-right: 10px;
              }
          }
          .titular{
              max-height: 15px;
          }
      }
  }
}


.formulario{
  box-sizing: border-box;
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 15px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;

  h4{
    font-size: 22px;
    margin-bottom: 20px;
  }

  .dato{
    box-sizing: border-box;
    width: 100%;
    background:#24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }

  .fecha{
    box-sizing: border-box;
    margin-right: 25px;
    width: 35%;
    background:#24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }

  .boton{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0px;
    font-size: 16px;
    cursor: pointer;
  }

}