.contenedor{
  width: 350px;
  height: 200px;
  margin-right: 50px;
  margin-left: 50px;
  margin: auto;
  margin-top: 50px;
  .tarjeta-base {
      position: relative;
      max-width: 100%;
      max-height: 100%;
      padding: 10px;
      display: flex;
      
      border-radius: 15px;
      flex-direction: column;
      color: white;
      font-size: 9px;
      text-transform: uppercase;
      
      .logo{
          text-align: left;
          min-height: 40px;
          margin-top: 10px;
          margin-left: 10px;
          img{
              width: 100%;
              height: 100%;
              object-fit: cover;
              max-width: 70px;
          }
      }

      .Bbva{
        text-align: left;
        min-height: 40px;
        margin-top: 10px;
        margin-left: 10px;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          max-width: 70px;
        }
      }
      .Santander{
        text-align: left;
        min-height: 40px;
        margin-top: 10px;
        margin-left: 10px;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          max-width: 90px;
        }
      }
      .Banco-Nacion{
        text-align: left;
        min-height: 40px;
        margin-top: 10px;
        margin-left: 10px;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          max-width: 110px;
        }
      }
      .Galicia{
        text-align: left;
        min-height: 40px;
        margin-top: 10px;
        margin-left: 10px;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          max-width: 90px;
        }
      }
      .Banco-Ciudad{
        text-align: left;
        min-height: 40px;
        margin-top: 10px;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          max-width: 130px;
        }
        }

      .chip{
          width: 100%;
          height: 100%;
          max-width: 30px;
          max-height: 30px;
          margin-top: 5px;
          margin-left: 15px;
      }

      .numero{
          font-size: 15px;
          min-height: 47px;
      }

      .footer{
          max-width: 100%;
          max-height: 100%;
          display: flex;
          justify-content: space-between;
          .visa{
              text-align: right;
              min-height: 40px;
              margin-right: 10px;
              img{
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  max-width: 70px;
              }
          }
          .master{
            text-align: right;
              max-height: 60px;
              margin-right: 10px;
              img{
                  object-fit: cover;
                  max-width: 55px;
                  min-height: 40px;
              }
          }
          .AmericanExp{
            text-align: right;
              margin-right: 18px;
              img{
                  object-fit: cover;
                  max-width: 50px;
                  max-height: 45px;
              }
          }
          .fechas{
              display: flex;
              max-height: 20px;
              p{
                  margin-right: 10px;
              }
          }
          .titular{

              min-height: 10px;
          }
      }
  }
  .tarjeta-Clasica{
    @extend .tarjeta-base;
    background: rgb(251,251,251);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  }
  .tarjeta-Oro{
    @extend .tarjeta-base;
    background: rgb(255,184,21);
    background: linear-gradient(90deg, rgba(255,184,21,1) 0%, rgba(255,217,54,1) 51%, rgba(255,251,46,1) 100%);
    color: #000;
  }
  .tarjeta-Platino{
    @extend .tarjeta-base;
    background: rgb(56,54,54);
  background: linear-gradient(30deg, rgba(56,54,54,1) 0%, rgba(229,235,255,1) 38%, rgba(77,79,87,1) 92%, rgba(50,49,49,1) 100%);
    color: #000;
  }

  .tarjeta-Black{
    @extend .tarjeta-base;
    background: rgb(0,0,0);
    background: linear-gradient(30deg, rgba(0,0,0,1) 0%, rgba(26,27,30,1) 24%, rgba(0,0,0,1) 55%, rgba(50,49,49,1) 100%);

  }
}


.formulario{
  box-sizing: border-box;
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 15px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;

  h4{
    font-size: 22px;
    margin-bottom: 20px;
  }

  .dato{
    box-sizing: border-box;
    width: 100%;
    background:#24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }

  .fecha{
    box-sizing: border-box;
    margin-right: 25px;
    width: 35%;
    background:#24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }

  .boton{
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0px;
    font-size: 16px;
    cursor: pointer;
  }

}