<html>
  <head>
    <title></title>
    <link rel="stylesheet" hre="tarjeta-credito.components.scss">
  </head>
  <body>
    <div>
        <h3 class="titulo">CREAR TARJETA</h3>

        <form [formGroup]="form" (ngSubmit)="guardarTarjeta()">
            <div class="form-group">
                <label >Nombre del titular:</label>
                <input formControlName="titular" type="text" placeholder="Titular" >
            </div>
            <div class="form-group">
                <label >Número de tarjeta:</label>
                <input formControlName="numeroTarjeta" type="text" placeholder="Numero de Tarjeta" >
            </div>
            <div class="form-group">
                <label >Fecha de vencimiento:</label>
                <select formControlName="mes" placeholder="MM">
                  <option value="01">Enero</option>
                  <option value="02">Febrero</option>
                  <option value="03">Marzo</option>
                  <option value="04">Abril</option>
                  <option value="05">Mayo</option>
                  <option value="06">Junio</option>
                  <option value="07">Julio</option>
                  <option value="08">Agosto</option>
                  <option value="09">Septiembre</option>
                  <option value="10">Octubre</option>
                  <option value="11">Noviembre</option>
                  <option value="12">Diciembre</option>
                </select>
                <input class="fecha" formControlName="anio" type="text" placeholder="Anio">
            </div>
            <div class="form-group">
                <label >CVV:</label>
                <input formControlName="cvv" type="text" placeholder="cvv" >
            </div>
            <button  type="submit">Enviar</button>
        </form>
    </div>
    <div>
    </div>
  </body>
</html>