.body{
    font-family: Arial;
}

#main-container{
    margin: 100px auto;
    width: 60%;

    .titular{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .table{
        background-color: white;
        text-align: left;
        border-collapse: collapse;
        width: 100%;

        thead{
            background-color: #0021dd;
            border-bottom: solid 5px #001c79;
            color: white;
        }

        
        tr:nth-child(even){
            background-color: #ddd;
        }
        
        tr:hover td{
            background-color: rgb(53, 105, 248);
            color:white;
        }

        th, td{
            padding: 20px;

        }
    }
}




