<html>
  <head>
    <title></title>
  </head>
  <body>
    <div>     
        <div id="main-container">
            <h3>LISTADO TARJETAS</h3>
            <div class="titular">
                <input [(ngModel)]="filtroTitular" type="text" placeholder="Titular">
                <button (click)="filtrarTarjetas()">Filtrar</button>
                <button (click)="obtenerTarjetas()">Limpiar</button>
            </div>
            
            <table class="table">
                    <thead>
                        <tr>
                            <th>Titular</th>
                            <th>Numero de Tarjeta</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Expiracion</th>
                            <th>Cvv</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tr *ngFor="let tarjeta of listTarjetas">
                        <td>{{tarjeta.titular}}</td>
                        <td >{{tarjeta.numeroTarjeta.slice(0,4)}}  {{tarjeta.numeroTarjeta.slice(4,8)}}  {{tarjeta.numeroTarjeta.slice(8,12)}}  {{tarjeta.numeroTarjeta.slice(12,16)}}</td>
                        <td>{{tarjeta.fechaInicio.slice(5,7)}}/{{tarjeta.fechaInicio.slice(0,4)}}</td>
                        <td>{{tarjeta.fechaExpiracion.slice(5,7)}}/{{tarjeta.fechaExpiracion.slice(0,4)}}</td>
                        <td>{{tarjeta.cvv}}</td>
                        <td>
                            <button routerLink="/edit/{{tarjeta.id}}">Editar</button>
                        </td> 
                        <td>
                            <button (click)="eliminarTarjeta(tarjeta.id)">Eliminar</button> 
                        </td>
                                                             
                    </tr>
                
            </table>
        </div>
    </div>
    
  </body>
</html>
