<!DOCTYPE html>
<html>

<head>
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="slider-container">
        <div class="slider-width">
            <div class="contenedor" *ngFor="let tarjeta of listTarjetas">
                <div [class.tarjeta-Clasica]="tarjeta.categoria==0"
                    [class.tarjeta-Oro]="tarjeta.categoria==1"
                    [class.tarjeta-Platino]="tarjeta.categoria==2"
                    [class.tarjeta-Black]="tarjeta.categoria==3">
                    <div [class.logo]="tarjeta.banco==''"
                            [class]="tarjeta.banco">
                        <img *ngIf="tarjeta.banco!='';" [src]="'assets/img/' + tarjeta.banco + '.png'" alt="logo">
                    </div>
                    <img class="chip" src="assets/img/chip-tarjeta.png">
                    <div class="numero">
                        <p>****  ****  ****  {{tarjeta.numeroTarjeta.slice(12,16)}}</p>
                    </div>
                    <div class="footer">
                        <div>
                            <div class="fechas">
                                <p>desde:{{tarjeta.fechaInicio.slice(5,7)}}/{{tarjeta.fechaInicio.slice(2,4)}}</p>
                                <p>hasta:{{tarjeta.fechaExpiracion.slice(5,7)}}/{{tarjeta.fechaExpiracion.slice(2,4)}}</p>
                            </div>
                            <div class="titular">
                                <p class="titular">{{tarjeta?.titular}}</p>
                            </div> 
                        </div>
                        <div *ngIf="tarjeta.numeroTarjeta[0]==4; else elseBlock1" class="visa">
                            <img src="assets/img/visa.png">
                        </div>
                        <ng-template #elseBlock1>
                          <div *ngIf="tarjeta.numeroTarjeta[0]==5; else elseBlock2" class="master">
                            <img src="assets/img/mastercard-logo.png">
                          </div>
                          <ng-template #elseBlock2>
                            <div *ngIf="tarjeta.numeroTarjeta[0]==3" class="AmericanExp">
                              <img src="assets/img/American-Express.png">
                            </div>
                          </ng-template>
                        </ng-template>
                    </div>
                </div>
            </div>          
        </div>
    </div>
    <button type="button" class="btn" (click)="prev()">Prev</button>
    <button type="button" class="btn" (click)="next()">Next</button>
</body>

</html>